@{
}
<div>
    Aqui estão os termos de uso do hooking
    <ul>
        <li>
            Cancelamentos sem multa só podem ser realizados em até 48 horas antes da reserva
        </li>
        <li>
            No caso de pessoas mas educadas no atendimento, sua conta poderá ser travada e excluida.
        </li>
    </ul>
</div>